/*-------------------
    ASIDE
-------------------*/
aside{
    background-color: #061e34;
    background-image: url(/img/sidebar-bg.png);
    color: #fff;
    flex-shrink: 0;
}

aside a{
    /* font-size: 1.125rem; */
    color: #fff;
}

aside img{
    width: 100%;
}

aside .fa-solid{
    font-size: 1.25rem;
}
@media screen and (max-width:992px) {

    .ms-not-found{
        display: none;
    }

    .ms-slim{
        padding: 1.25rem .9375rem!important;
    }

    .d-flex{
        justify-content: center;
        text-align: center;
        padding-bottom: .625rem;
        padding-left: .3125rem;
    }

    .fa-solid{
        padding-right: 0;
    }
}