/*-------------------
    HEADER
-------------------*/
.ms-logo-md{
    width: 1.875rem;
}

/* .row > *{
    border: .125rem dashed blue;
} */

.form-control, .input-group-text{
    border: none;
    background-color: #e9ecef;
}

.form-control{
    font-size: .625rem;
}

ul{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: #5a5858;
}