/*-------------------
    HEADER
-------------------*/
header{
    height: 3.75rem;
}

.ms-logo-md{
    width: 1.875rem;
}

.form-control, .input-group-text{
    border: none;
    background-color: #e9ecef;
}

.form-control{
    font-size: .625rem;
}

ul{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: #5a5858;
}