/*-------------------
    MAIN
-------------------*/
main{
    flex-grow: 1;
    overflow-y: auto;
}

.ms-boolean{
    max-width: 100%;
    background-color: #1c71e8;
    color: #fff;
}

.fa-angles-right{
    font-size: x-small;
}

main span{
    font-size: 2rem;
}

.text-bg-primary{
    background-color: #155cbf !important;
}

.ms-container-checkbox{
    border: 1px solid lightgrey;
    border-radius: .625rem;
}

.ms-check-box{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

table th:not(:first-child){
    text-align: center;
}

table td{
    text-align: center;
}

th img{
    max-width: 100%;
    width: 1.875rem;
}

.ms-width-auto{
    width: auto;
}

.ms-width-100{
    width: 6.25rem;
}

.text-bg-warning{
    color: #fff!important;
}

td .btn{
    --bs-btn-padding-x: 0.65rem!important;
}

.ms-box{
    border: .0625rem solid lightgray;
    border-radius: .3125rem;
}

