/*-------------------
    MAIN
-------------------*/
main{
    flex-grow: 1;
    border: .125rem dashed green;
    overflow-y: auto;
}

.ms-boolean{
    max-width: 100%;
    background-color: #1c71e8;
    color: #fff;
}

.fa-angles-right{
    font-size: x-small;
}

main strong{
    font-size: 2rem;
}

.text-bg-primary{
    background-color: #155cbf !important;
}

.ms-container-checkbox{
    border: 1px solid lightgrey;
    border-radius: .625rem;
}

.ms-check-box{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

/* debug */
.debug{
    border: 2px dashed red;
}